html,
body {
  color: #4d4d4d;
}
/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  overflow-x: none;
  overflow-y: none;
  text-align: center;
  vertical-align: baseline;
  border: thin solid #dedede;
  -webkit-box-shadow: 0 0 0.25em #dedede;
  -moz-box-shadow: 0 0 0.25em #dedede;
  box-shadow: 0 0 0.25em #dedede;
  background: #fff;
  z-index: 1001;
}
.header #initdot {
  position: absolute;
  top: 1.5em;
  display: inline-block;
  border: thin solid #dedede;
  width: 0.35em;
  height: 0.35em;
  background: #dedede;
  -webkit-box-shadow: 0 0 0.1em #dedede;
  -moz-box-shadow: 0 0 0.1em #dedede;
  box-shadow: 0 0 0.1em #dedede;
  border-radius: 3em;
}
/* the main containter occupying the center half */
.container {
  position: absolute;
  width: 70%;
  height: auto;
  top: 10%;
  left: 15%;
  z-index: 101;
}
.works {
  border: thin solid #dedede;
  -webkit-box-shadow: 0 0 0.5em #dedede;
  -moz-box-shadow: 0 0 0.5em #dedede;
  box-shadow: 0 0 0.5em #dedede;
  margin: 1em 0;
  padding: 0.5em;
  text-align: center;
  height: auto;
}
.works:hover {
  -webkit-box-shadow: 0 0 1em #dedede;
  -moz-box-shadow: 0 0 1em #dedede;
  box-shadow: 0 0 1em #dedede;
}
.works a {
  text-decoration: none;
  display: block;
  color: inherit;
}
/* footer */
.footer {
  margin: 5em 0;
  padding: 1em;
  border-top: thin solid #dedede;
  border-bottom: thin solid #dedede;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer span {
  margin: 2em;
  display: inline-block;
  font-weight: bold;
}
